# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on: 
  workflow_dispatch:
  push:
    branches:
      - main

env:
  RESOURCE-GROUP: dbUpGitHubActions
  LOCATION: eastus
  WEBAPP-NAME: dbUpGitHubActions

jobs:
  #Build, test and publish .net web project in repository
  buildandtest:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    #prepare runner for desired .net version SDK
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    #Build/Test/Publish the .net project
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore
      
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
    - name: Publish
      run: dotnet publish ./src/Api/Api.csproj -c Release -o ./publish/api

    - name: Publish
      run: dotnet publish ./src/DatabaseContext/DatabaseContext.csproj -c Release -o ./publish/console

    - name: Create artifacts folder
      run: mkdir artifacts

    - name: Compress
      run: Compress-Archive -Path ./publish/api/* -DestinationPath ./artifacts/api.zip
      shell: pwsh

    - name: Compress
      run: Compress-Archive -Path ./publish/console/* -DestinationPath ./artifacts/console.zip
      shell: pwsh

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: webapp
        path: artifacts

  # Publish Web app
  deploy:
    runs-on: ubuntu-latest
    needs: buildandtest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Download artifacts from build job
        uses: actions/download-artifact@v4
        with:
          name: webapp
          path: webapp
      
      #Login in your azure subscription using a service principal
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

       # Publish website to Azure App Service using CLI (WebApp)
      - name: Publish Website to WebApp
        uses: Azure/cli@v2
        with:
          inlineScript: |
            az webapp deploy \
              --name ${{ env.WEBAPP-NAME }} \
              --resource-group ${{ env.RESOURCE-GROUP }} \
              --src-path webapp/api.zip \
              --type zip

      - name: Run Database Migrator
        run: |
          unzip webapp/console.zip -d migrator
          cd migrator
          dotnet DatabaseContext.dll "${{ secrets.DB_CONNECTION_STRING }}"
